header,
footer {
  background-color: #687864;
  color: #f7f9fb;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 30px 50px 0px 50px;
  font-size: 40px;
}

h2 {
  text-align: center;
}

.face {
  display: block;
  width: 300px;
  border-radius: 30px;
  margin: 50px auto 50px auto;
}

section {
  margin: 50px 25%;
}

h3 {
  padding: 0px 50px 30px 50px;
}

.solid-line {
  height: 2px;
  background-color: #31708e;
  width: 100%;
  margin: 50px 0;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 30px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f7f9fb;
}
